.radioholder {
  display: inline-block;
  justify-content: space-between;
  width: 50px;
  margin-right: 20px;
}

h1:first-letter {
  text-transform: capitalize;
}

.headline_size_1 h1 {
  font-size: 22pt;
}
.headline_size_2 h1 {
  font-size: 30pt;
}
.headline_size_3 h1 {
  font-size: 38pt;
}

.font_size_1 p, .font_size_1 ul, .font_size_1 li, .font_size_1 a {
  font-size: 13pt;
}
.font_size_2 p, .font_size_2 ul, .font_size_2 li, .font_size_2 a {
  font-size: 16pt;
}
.font_size_3 p, .font_size_3 ul, .font_size_3 li, .font_size_3 a {
  font-size: 19pt;
}

.font_style_1 {
  font-family: "Roboto", sans-serif;
}
.font_style_2 {
  font-family: "Helvetica", sans-serif;
}
.font_style_3 {
  font-family: "Lumin", serif;
}
.font_style_4 {
  font-family: "Greta", serif;
}

nav.color_1 {
  background-color: #00247B;
}
nav.color_2 {
  background-color: #026FDF;
}
nav.color_3 {
  background-color: #CB4E01;
}
nav.color_4 {
  background-color: #FE9554;
}

.color_1 a {
  color: #00247B;
}
.color_2 a {
  color: #026FDF;
}
.color_3 a {
  color: #CB4E01;
}
.color_4 a {
  color: #FE9554;
}

@font-face {
	font-family: "Helvetica";
	src: url("../../static/page_generator/fonts/helvetica.eot") format("embedded-opentype"),
	url("../../static/page_generator/fonts/helvetica.woff") format("woff"),
	url("../../static/page_generator/fonts/helvetica.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-display: fallback
}

@font-face {
	font-family: "Greta";
	src: url("../../static/page_generator/fonts/greta-light-normal.woff2") format("woff2"),
	url("../../static/page_generator/fonts/greta-light-normal.woff") format("woff"),
	url("../../static/page_generator/fonts/greta-light-normal.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-display: fallback
}

@font-face {
	font-family: "Greta";
	src: url("../../static/page_generator/fonts/greta-light-italic.woff2") format("woff2"),
	url("../../static/page_generator/fonts/greta-light-italic.woff") format("woff"),
	url("../../static/page_generator/fonts/greta-light-italic.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-display: fallback
}

@font-face {
	font-family: "Greta";
	src: url("../../static/page_generator/fonts/greta-medium-normal.woff2") format("woff2"),
	url("../../static/page_generator/fonts/greta-medium-normal.woff") format("woff"),
	url("../../static/page_generator/fonts/greta-medium-normal.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-display: fallback
}

@font-face {
	font-family: "Greta";
	src: url("../../static/page_generator/fonts/greta-display-medium.woff2") format("woff2"),
	url("../../static/page_generator/fonts/greta-display-medium.woff") format("woff"),
	url("../../static/page_generator/fonts/greta-display-medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-display: fallback
}

@font-face {
	font-family: 'Lumin Serif';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../../static/page_generator/fonts/lumin__serif__3.woff") format("woff"),
	url("../../static/page_generator/fonts/lumin__serif__3.ttf") format("truetype");
}

@font-face {
	font-family: 'Lumin Serif';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../../static/page_generator/fonts/lumin__serif__3i.woff") format("woff"),
	url("../../static/page_generator/fonts/lumin__serif__3i.ttf") format("truetype");
}

@font-face {
	font-family: 'Lumin Serif';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../../static/page_generator/fonts/lumin__serif__5.woff") format("woff"),
	url("../../static/page_generator/fonts/lumin__serif__5.ttf") format("truetype");
}

@font-face {
	font-family: 'Lumin Serif';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../../static/page_generator/fonts/lumin__serif__5i.woff") format("woff"),
	url("../../static/page_generator/fonts/lumin__serif__5i.ttf") format("truetype");
}