{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'page_generator/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-4">Vitajte v experimente skúmajúcom dôveryhodnosť stránok</h1>
            <hr class="my-4">
            <p class="lead">Som študentkou fakulty informatiky a robím výskum na tému vnímania dôveryhodnosti správ na webe. Tento výskum robím v rámci svojej
              diplomovej práce. Ďakujem veľmi pekne za ochotu zúčastniť sa na výskume. Dotazník vám zaberie približne 15 minút. Má tri časti.</p>
            <p class="lead">Pre vyplnenie dotazníka prosím použite MOBILNÝ TELEFÓN. Ak nemáte možnosť použiť mobilný telefón, dotazník prosím nevypĺňajte.</p>
            <a class="btn btn-primary btn-lg w-100" href="/page_generator/questionaire">Začať</a>
        </div>
    </div>
</body>