{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'page_generator/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-3">
          <h1 class="display-4">Krok 3: Dotazník o využívaní médií</h1>
          <hr class="my-4">
          <p class="lead">Odpovedzte nám prosím ešte na pár otázok o tom, ako využívate médiá. Celý dotazník sa skladá z troch častí. Prostredníctvom dotazníka sa snažíme
              zistiť, ako veľmi ste ponorený do sveta médii, nie to aké sú vaše vedomosti. Po kliknutí na
              tlačidlo nižšie budete presmerovaný na Google dotazník. Predvyplnené číslo ID participanta prosím neprepisujte.</p>
        </div>

        {% if participants %}
            {% for participant in participants %}
                <a class="btn btn-primary btn-lg w-100" href="https://docs.google.com/forms/d/e/1FAIpQLSdfXlxtegjEVSWMXdJnUM1Iij2x5hCvRb1YjGvU3k3nFwRq0Q/viewform?usp=pp_url&entry.918932795={{participant.id}}">
                    Vyplniť dotazník
                </a>
            {% endfor %}
        {% else %}
            <p>No such participant.</p>
        {% endif %}
    </div>
</body>
