{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'page_generator/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


{% if pages %}
    {% for page in pages %}
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
        <body class="font_style_{{page.font_style}} font_size_{{page.font_size}} headline_size_{{page.headline_size}}">

        <nav class="navbar navbar-expand-lg navbar-dark color_{{page.colors}}">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">{% lorem 2 w random %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
          </div>
        </nav>

        <div class="container">

        <h1>{% lorem 6 w random %}</h1>

        {% if page.image_count > 1 %}
            <img src="../../static/page_generator/images/image_7.jpeg" class="w-100">
        {% endif %}

        <p>
            {% lorem 3 random %}
            {% if page.hyperlink_count > 2 %}
                <a href="url">{% lorem 4 w random %}</a>
            {%  endif %}
        </p>
        {% lorem 1 p random %}

        {% if page.text_length > 1 %}
            <p>
                {% lorem 10 w random %}
                {% if page.hyperlink_count > 1 %}
                        <a href="url">{% lorem 3 w random %}</a>
                        {% lorem 1 random %}
                        <a href="url">{% lorem 5 w random %}</a>
                {% endif %}
                {% lorem 2 random %}
            </p>
            {% lorem 2 p random %}
        {% endif %}

        {% if page.text_length == 1  and page.hyperlink_count > 1 %}
            <ul>
                <li><a href="url">{% lorem 3 w random %}</a></li>
                <li><a href="url">{% lorem 5 w random %}</a></li>
            </ul>
        {% endif %}

        {% if page.image_count > 1 %}
            <img src="../../static/page_generator/images/image_2.jpeg" class="w-100">
        {% endif %}

        {% if page.image_count > 2 %}
            <img src="../../static/page_generator/images/image_3.jpeg" class="w-100">
        {% endif %}

        <p>
            {% lorem 4 random %}
            {% if page.hyperlink_count > 2 %}
                <a href="url">{% lorem 4 w random %}</a>
                {% lorem 5 w random %}
            {% endif%}
        </p>

        {% if page.text_length > 1 %}
            <p>
                {% if page.hyperlink_count > 2 %}
                    {% lorem 10 w random %}
                    <a href="url">{% lorem 8 w random %}</a>
                {% endif %}
                {% lorem 2 random %}
            </p>
            <p>
                {% lorem 3 random %}
                {% if page.hyperlink_count > 2 %}
                    <a href="url">{% lorem 10 w random %}</a>
                    {% lorem 30 w random %}
                {% endif %}
            </p>
        {% endif %}

        {% if page.text_length == 1  and page.hyperlink_count > 2 %}
            <ul>
                <li>{% lorem 10 w random %}<a href="url">{% lorem 8 w random %}</a></li>
                <li><a href="url">{% lorem 10 w random %}</a>{% lorem 30 w random %}</li>
            </ul>
        {% endif %}

         {% if page.image_count > 1 %}
            <img src="../../static/page_generator/images/image_4.jpeg" class="w-100">
        {% endif %}

        {% if page.text_length > 2 %}
            <p>{% lorem 4 random %}</p>
            {% lorem 1 p random %}
            <p>
                {% lorem 3 random %}
                {% if page.hyperlink_count > 2 %}
                    <a href="url">{% lorem 7 w random %}</a>
                    {% lorem 7 w random %}
                {% endif %}
            </p>
            <p>
                {% lorem 3 random %}
                {% if page.hyperlink_count > 1 %}
                    <a href="url">{% lorem 5 w random %}</a>
                    {% lorem 3 w random %}
                {% endif %}
            </p>
            {% lorem 2 p random %}
        {% endif %}

        {% if page.text_length < 3  and page.hyperlink_count > 2 %}
            <ul>
                {% if page.hyperlink_count > 2 %}
                    <li>
                    <a href="url">{% lorem 7 w random %}</a>
                    {% lorem 7 w random %}
                    </li>
                {% endif %}
                {% if page.hyperlink_count > 1 %}
                    <li>
                    <a href="url">{% lorem 5 w random %}</a>
                    {% lorem 3 w random %}
                    </li>
                {% endif %}
            </ul>
        {% endif %}

         {% if page.image_count > 2 %}
            <img src="../../static/page_generator/images/image_5.jpeg" class="w-100">
            <img src="../../static/page_generator/images/image_6.jpeg" class="w-100">
        {% endif %}
        </div>
        </body>
    {% endfor %}
{% else %}
    <p>No page available.</p>
{% endif %}

<script>
  setTimeout(goToNextPage, 12000);
  function goToNextPage() {
  	location.href = "/page_generator/page_rating";
  }
</script>
