{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'page_generator/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <h1 class="display-3 text-center mb-5 mt-3">Vyplňte prosím nasledujúci dotazník</h1>
    <p class="lead">Nevracajte sa na predchádzajúcu stránku. Dotazník vyplňte na základe toho, čo ste stihli vidieť a vášho dojmu.</p>
    <script>
      function form_fill_time() {
        id_time_end.value = Date.now();
      }
    </script>

    <form method="post" onsubmit="form_fill_time()">
    {% csrf_token %}

      <div class="card mb-3">
        <div class="card-header">
          <div class="lead card-title mb-2 mt-2">
            Keby mal tento článok skutočný obsah, ako veľmi by ste mu dôverovali na nasledovnej stupnici:
          </div>
        </div>
        <div class="card-body">
            {% for value in form.credibility %}
              <div class="form-check">
              {{ value }}
              </div>
            {% endfor %}
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <div class="lead card-title mb-2 mt-2">
            Z nasledujúcich možností vyberte tie, ktoré najviac ovplyvnili vaše rozhodnutie v predchádzajúcej otázke.
          </div>
          <div class="lead">
            Vybrať môžete jednu alebo viac možností. Pokiaľ žiadna z možností neovplyvnila vaše rozhodnutie, nemusíte vybrať ani jednu.
          </div>
        </div>
        <div class="card-body">
          {% for field in form.visible_fields %}
              {% if field.label != 'Dôveryhodnosť' and field.name != 'page' %}
                <div class="form-check mb-3">
                  {{ field }}
                  <label class="form-check-label">{{ field.label }}</label>
                </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
      <input type="submit" class="btn btn-lg btn-primary w-100 mb-5" value="Odpovedať">
    </form>
  </div>
</body>