{% load static %}

{% if pages %}
    <ul>
    {% for page in pages %}
        <li>{{ page.participant }}/li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<h1>{{ request.session.round }}</h1>
<h1>{{  round_page.headline_size }}</h1>

<link rel="stylesheet" type="text/css" href="{% static 'page_generator/style.css' %}">

<h1>{% lorem 6 w %}</h1>

{% lorem 3 %}


{% lorem 3 p %}

<script>
  setTimeout(goToNextPage, 3000);
  function goToNextPage() {
  	location.href = "http://127.0.0.1:8000/page_generator/page_rating"
  }
</script>
